DATABASE_URL="postgresql://user:password@host:5432/database?schema=public"

NEXT_PUBLIC_STRIPE_PK="pk_test_XXXXXXXXXXXXXXXXXXXXXXXX"
STRIPE_SK="sk_test_XXXXXXXXXXXXXXXXXXXXXXXX"
STRIPE_WEBHOOK_SECRET="whsec_XXXXXXXXXXXXXXXXXXXXXXXX"

RESEND_API_KEY="re_XXXXXXXXXXXXXXXXXXXXXXXX"

NEXTAUTH_SECRET="generate_a_secure_random_string"
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
